@page
@model PrivacyModel
@{
    ViewData["Title"] = "Ты думал, здесь что-то будет?";
}
<h1>@ViewData["Title"]</h1>

<p>
    Оооооо, нет, от тя воняет ящерами даже отсюда чувствую.
    Закрывай, закрывай сайт и уходи из Гипербореи.
</p>
